<!DOCTYPE html>
<html land="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=form, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>로그인하기</h2>
    <form action="/users/login" method ="post">
        <input type="text" name="email">
        <br>
        <input tyep="password" name="password"></input>
        <br><br>
        <input type="submit" value="전송하기">
    </form>
</body>
</html>