<!DOCTYPE html>
<html land="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=form, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>blog 글쓰기</h2>
    <form action="/blog/write" method ="post">
        <input type="text" name = "title">
        <textarea name="content" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="전송하기">
    </form>
</body>
</html>